<?xml version="1.0"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN" "https://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">
    <module name="TreeWalker">
        <module name="BooleanExpressionComplexity" />
        <module name="CyclomaticComplexity">
            <property name="max" value="15" />
        </module>
        <module name="LineLength">
            <property name="max" value="130" />
        </module>
        <module name="MethodLength" />
        <module name="EmptyCatchBlock">
            <property name="exceptionVariableName" value="expected|ignore" />
        </module>
        <module name="AvoidStarImport" />
        <module name="IllegalImport" />
        <module name="NeedBraces" />
    </module>
    <module name="FileLength">
	<property name="max" value="500"/>
    </module>
    <module name="FileTabCharacter">
        <property name="eachLine" value="true" />
    </module>
    <module name="Header">
        <property name="header" value="////////////////////////////////////////////////////////////////////\n// FEDERICO CHIARELLO 1187598\n////////////////////////////////////////////////////////////////////" />
        <property name="fileExtensions" value="java" />
    </module>
</module>
